:root {
    --headerBorderColor: #e1e1e1;
    --orangeColor: #ff811a;
    --primaryColor: #fff;
    --primaryTextColor: #828282;
}

body {
    margin: 0;
    background-color: #f9f9f9;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    letter-spacing: .01em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
